code/pipeline/plExtractLoadAzureSQLToDataLake.json
{
	"name": "plExtractLoadAzureSQLToDataLake",
	"properties": {
		"description": "Extract data from azure sql db and load them into Data Lake RAW layer. This pipeline will handle full and delta loads.",
		"activities": [
			{
				"name": "SetCurrentCSTDateTimeForFileName",
				"description": "Setting up the current datetime that will be used for filename in data lake",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varCurrentDateTimeCSTFilename",
					"value": {
						"value": "@concat(formatDateTime(convertTimeZone(utcnow(),'UTC','Central Standard Time'),'yyyy_MM_dd_HH_mm_ss'),'_cst')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetCurrentCSTDateTime",
				"description": "Setting current date time in CST format for setting up watermark for next load",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varCurrentDateTimeCST",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Central Standard Time'),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_YYYYMMDD_Path",
				"description": "Setting Date path for ADLS folders",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varYYYYMMDD",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Central Standard Time'),'yyyy/MM/dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetAzureSqlTableList",
				"description": "getting the list of SQL tables from control table stored in Azure SQL",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetCurrentCSTDateTimeForFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetCurrentCSTDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_YYYYMMDD_Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *, convert(varchar,DeltaLastWatermarkDateTime,120) as FormattedLastWatermarkDateTime\nFROM ETL.ControlTableSourceToAdlsLoad\nWHERE IsActiveFlag = 'Y'\nAND SourceType = 'AzureSQL'\nAND (PipelineTriggerName = '@{pipeline().TriggerName}'\nOR PipelineTriggerName IS NULL)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IterateSqlSourceTableList",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetAzureSqlTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAzureSqlTableList').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupCurrentChangeTrackingVersion",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								}
							}
						},
						{
							"name": "ExtractionMethod",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "LookupCurrentChangeTrackingVersion",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@if(equals(item().SourceFullExtractOverrideFlag,'Y'),'FULL',toUpper(item().SourceExtractMethod))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FULL",
										"activities": [
											{
												"name": "CopyAzureSQLToADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"additionalColumns": [
															{
																"name": "SourceExtractDateTime",
																"value": {
																	"value": "@variables('varCurrentDateTimeCST')",
																	"type": "Expression"
																}
															}
														],
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false
												}
											},
											{
												"name": "LogCopySuccess",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "CopyAzureSQLToADLS",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunId,\n'SQL_To_DataLake' as SourceToTargetType,\n'@{item().SourceExtractMethod}' as SourceExtractMethod,\n'@{item().SourceFullExtractOverrideFlag}' as SourceFullExtractOverrideFlag,\n'@{item().SourceServerName}' as SourceServerName,\n'@{item().SourceDatabaseName}' as SourceDatabaseName,\n'@{item().SourceSchemaName}' as SourceSchemaName,\n'@{item().SourceTableName}' as SourceTableName,\n'@{item().DataLakeContainer}' as TargetDataLakeContainerName,\n'@{concat(item().DataLakeFolder,'/FULL/',item().SourceSchemaName,'/',item().DestinationTargetFolder)}' as TargetDirectoryName,\n'@{concat('FULL_',item().DestinationTargetFolder,'.parquet')}' as TargetFileName,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerID}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('CopyAzureSQLToADLS').output.rowsCopied}' as RowsCopied,\n'@{activity('CopyAzureSQLToADLS').output.rowsRead}' as RowsRead,\n'@{activity('CopyAzureSQLToADLS').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('CopyAzureSQLToADLS').output.copyDuration}' as CopyDurationInSecs,\n'@{activity('CopyAzureSQLToADLS').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].source}' as SourceType,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].sink}' as SinkType,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivityQueuingDurationInSecs,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivityPreCopyScriptDurationInSecs,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivityTransferDurationInSecs,\nnull as ErrorMessage",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false
												}
											},
											{
												"name": "LogCopyFailure",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "CopyAzureSQLToADLS",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunId,\n'SQL_To_DataLake' as SourceToTargetType,\n'@{item().SourceExtractMethod}' as SourceExtractMethod,\n'@{item().SourceFullExtractOverrideFlag}' as SourceFullExtractOverrideFlag,\n'@{item().SourceServerName}' as SourceServerName,\n'@{item().SourceDatabaseName}' as SourceDatabaseName,\n'@{item().SourceSchemaName}' as SourceSchemaName,\n'@{item().SourceTableName}' as SourceTableName,\n'@{item().DataLakeContainer}' as TargetDataLakeContainerName,\n'@{concat(item().DataLakeFolder,'/FULL/',item().SourceSchemaName,'/',item().DestinationTargetFolder)}' as TargetDirectoryName,\n'@{concat('FULL_',item().DestinationTargetFolder,'.parquet')}' as TargetFileName,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerID}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\nnull as RowsCopied,\nnull as RowsRead,\n'@{activity('CopyAzureSQLToADLS').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('CopyAzureSQLToADLS').output.copyDuration}' as CopyDurationInSecs,\n'@{activity('CopyAzureSQLToADLS').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].source}' as SourceType,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].sink}' as SinkType,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('CopyAzureSQLToADLS').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'' as CopyActivityQueuingDurationInSecs,\n'' as CopyActivityPreCopyScriptDurationInSecs,\n'' as CopyActivityTransferDurationInSecs,\n'@{replace(activity('CopyAzureSQLToADLS').output.errors[0].Message,'''','')}' as ErrorMessage",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false
												}
											}
										]
									},
									{
										"value": "DELTA",
										"activities": [
											{
												"name": "CopyAzureSQLToADLSDelta",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"additionalColumns": [
															{
																"name": "SourceExtractDateTime",
																"value": {
																	"value": "@variables('varCurrentDateTimeCST')",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": {
															"value": "SELECT ds.*, ct.SYS_CHANGE_VERSION as SysChangeVersion, ct.SYS_CHANGE_OPERATION as SysChangeOperation FROM @{item().SourceSchemaName}.@{item().SourceTableName} ds\nRIGHT OUTER JOIN CHANGETABLE(CHANGES @{item().SourceSchemaName}.@{item().SourceTableName}, @{item().ChangeTrackingVersion}) as ct on ds.@{item().SourceKeyColumnList} = ct.@{item().SourceKeyColumnList} \nwhere ct.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersion').output.firstRow.CurrentChangeTrackingVersion}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false
												}
											},
											{
												"name": "LogCopySuccessDelta",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "CopyAzureSQLToADLSDelta",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunId,\n'SQL_To_DataLake' as SourceToTargetType,\n'@{item().SourceExtractMethod}' as SourceExtractMethod,\n'@{item().SourceFullExtractOverrideFlag}' as SourceFullExtractOverrideFlag,\n'@{item().SourceServerName}' as SourceServerName,\n'@{item().SourceDatabaseName}' as SourceDatabaseName,\n'@{item().SourceSchemaName}' as SourceSchemaName,\n'@{item().SourceTableName}' as SourceTableName,\n'@{item().DataLakeContainer}' as TargetDataLakeContainerName,\n'@{concat(item().DataLakeFolder,'/DELTA/',item().SourceSchemaName,'/',item().DestinationTargetFolder,'/',variables('varYYYYMMDD'))}' as TargetDirectoryName,\n'@{concat('DELTA_',item().DestinationTargetFolder,'_',variables('varCurrentDateTimeCSTFilename'),'.parquet')}' as TargetFileName,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerID}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('CopyAzureSQLToADLSDelta').output.rowsCopied}' as RowsCopied,\n'@{activity('CopyAzureSQLToADLSDelta').output.rowsRead}' as RowsRead,\n'@{activity('CopyAzureSQLToADLSDelta').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('CopyAzureSQLToADLSDelta').output.copyDuration}' as CopyDurationInSecs,\n'@{activity('CopyAzureSQLToADLSDelta').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].source}' as SourceType,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].sink}' as SinkType,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivityQueuingDurationInSecs,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivityPreCopyScriptDurationInSecs,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivityTransferDurationInSecs,\nnull as ErrorMessage",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false
												}
											},
											{
												"name": "LogCopyFailureDelta",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "CopyAzureSQLToADLSDelta",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunId,\n'SQL_To_DataLake' as SourceToTargetType,\n'@{item().SourceExtractMethod}' as SourceExtractMethod,\n'@{item().SourceFullExtractOverrideFlag}' as SourceFullExtractOverrideFlag,\n'@{item().SourceServerName}' as SourceServerName,\n'@{item().SourceDatabaseName}' as SourceDatabaseName,\n'@{item().SourceSchemaName}' as SourceSchemaName,\n'@{item().SourceTableName}' as SourceTableName,\n'@{item().DataLakeContainer}' as TargetDataLakeContainerName,\n'@{concat(item().DataLakeFolder,'/DELTA/',item().SourceSchemaName,'/',item().DestinationTargetFolder,'/',variables('varYYYYMMDD'))}' as TargetDirectoryName,\n'@{concat('DELTA_',item().DestinationTargetFolder,'_',variables('varCurrentDateTimeCSTFilename'),'.parquet')}' as TargetFileName,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerID}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\nnull as RowsCopied,\nnull as RowsRead,\n'@{activity('CopyAzureSQLToADLSDelta').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('CopyAzureSQLToADLSDelta').output.copyDuration}' as CopyDurationInSecs,\n'@{activity('CopyAzureSQLToADLSDelta').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].source}' as SourceType,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].sink}' as SinkType,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('CopyAzureSQLToADLSDelta').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'' as CopyActivityQueuingDurationInSecs,\n'' as CopyActivityPreCopyScriptDurationInSecs,\n'' as CopyActivityTransferDurationInSecs,\n'@{replace(activity('CopyAzureSQLToADLSDelta').output.errors[0].Message,'''','')}' as ErrorMessage",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "UpdateControlTable",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ExtractionMethod",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[UpdateControlTableSourceToADLSLoad]",
								"storedProcedureParameters": {
									"SourceServerName": {
										"value": {
											"value": "@item().SourceServerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceDatabaseName": {
										"value": {
											"value": "@item().SourceDatabaseName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSchemaName": {
										"value": {
											"value": "@item().SourceSchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTableName": {
										"value": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunDateTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"WatermarkDateTime": {
										"value": {
											"value": "@variables('varCurrentDateTimeCST')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"ChangeTrackingVersion": {
										"value": {
											"value": "@activity('LookupCurrentChangeTrackingVersion').output.firstRow.CurrentChangeTrackingVersion",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ForDFlag": {
										"value": {
											"value": "@if(equals(item().SourceFullExtractOverrideFlag,'Y'), 'Y', 'N')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"varCurrentDateTimeCSTFilename": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			},
			"varCurrentDateTimeCST": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			},
			"varYYYYMMDD": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADAP/Ingest To DataLake"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-28T22:25:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}